* {
  font-family: Inter;
  box-sizing: border-box;
}
.span span {
  color: #af0c48;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #e92577;
  width: 55px;
  height: 24px;
  border-radius: 220px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.checkbox-label .ball {
  background-color: #ffe86e;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(35px);
}
